body{
    margin: 0;
}
#header-section{
    background-color: aqua;
    display: flex;
    align-items: center;    
    height: 74px;
    justify-content: space-between;
}
#nav{
    display: flex;
    list-style-type: none;

}
#nav a{
    padding: 20px;
}
.logo {
    color: #1C1C1C;
    font-family: "Roboto Slab";
    font-size: 27px;
}
#main-section{
    background-color: red

}
#footer-section{
    background-color:blueviolet;
}

.grow-your-business-section {
    background-image: url(images/fon.png);
}