body{
    max-width: 1440px;
    margin: 0;
    padding: 0;
}
#header-section{                                
    display: flex;
    align-items: center;    
    height: 74px;
    justify-content: space-between;
}
.logo {
    height: 58px;
    width: 217px;
    padding-top: 16px;
    padding-left: 20px; 
}
#nav{
    display: flex;
    list-style-type: none;

}
#nav li{
    width: 98px;
    height: 48px;
    padding-top: 26px;
    padding-left: 21px;
}

.grow-your-business-section {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 420px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/fon.png)
}
.img-in-grow-your-business
{
    width: 460px;
    height: 291px;
    background-image: url(../images/img-grow-your-business.png)
}
.buttons-grow-your-business {
    display: flex;
    justify-content: center;
    gap: 14px;

}
.size-grow-your-business {
    display: flex;
    min-width: 250px;
    max-width: 800px;
    padding: 0px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
}
.text-grow-business{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.text-grow-business h1, h2{
    align-self: stretch;
}

#footer-section{
    background-color:blueviolet;
}
.in-the-pass-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #3E5C50;
    padding: 29px 20px;
}
.images-in-the-pass {
    display: flex;
    gap: 37px;
}
.sync-across-all-devices-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.web-application-box {
    display: flex;  
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.web-right-application-box {
    display: flex;
    flex-direction: column;
}
.mobile-app-box {
    display: flex;
}
.mobile-app-property-icons-section {
    display: flex;
}
.pricing-plans-section {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.plans-and-pricing-header {
    text-align: center;
}
.pricing-plans-section-box {
    display: flex;
    flex-direction: column;
    width: 220px;
    padding: 17px;
    gap: 13px;
    background: #FFF;
}
.plans-and-pricing {
    background: #DDE7ED;
    padding: 70px 250px;
}
.box-say {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slider {
    display: flex;
    justify-content: space-between;
    animation: sliderswap 1s forwards;
}
.slider-info {
    max-width: 750px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.what-people-say-section {
    display: flex;
    text-align: center;
}