    @media (max-width: 710px) {
        
        .burger-menu {
            display: flex;
        }
        #nav {
            display: none;
        }
    }
    @media(max-width: 1290px) {
        .img-in-grow-your-business{
            display: none;
        }
        .grow-your-business-section {
            text-align: center;
        }
    }
    @media(max-width:900px){
        .slider-prev, .slider-next {
            display:block;
        }
        #img4-in-the-pass,#img5-in-the-pass {
            display: none;
        }
    }
    @media(max-width:600px){
        #img2-in-the-pass,#img3-in-the-pass{
            display: none;
        }
    }
@media(max-width: 517px) {
    .web-application-box {
        flex-wrap: wrap;
    }
}

@media(max-width: 740px) {
    .mobile-app-box {
        flex-wrap: wrap;
    }
}