    @media (max-width: 710px) {
        
        .burger-menu {
            display: flex;
        }
        #nav {
            display: none;
        }
    }
    @media(max-width: 1290px) {
        .img-in-grow-your-business{
            display: none;
        }
        .grow-your-business-section {
            text-align: center;
        }
    }