h1{
    margin-block: 0;
}
h2{
    margin-block: 0;
}
h3 {
    margin-block: 0;
}
.button-sign-up {
    background: #000;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.12);
    color: #FFF;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 110px;
    height: 48px;
    border: none;
}
.button-learn-more{
    width: 137PX;
    height: 48px;
    background-color: transparent;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    border: none;
}
.text-grow-business h1{
    color: #FFF;
    font-family: Roboto;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
}
.text-grow-business h2{
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.text-logo{
    color: #1C1C1C;
    font-family: "Roboto Slab";
    font-size: 27px;
}
#nav a {
    color: #222;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.in-the-pass-section h3 {
    color: rgba(255, 255, 255, 0.31);
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.sync-title-section h2 {
    text-align: center;
    font-family: Roboto;
    font-size: 29px;
    line-height: 36px;
    font-weight: normal;
}
.sync-title-section h3 {
    font-family: Roboto;
    text-align: center;
    font-weight: normal;
}
.text-plan-value-discription {
    color: #489FD9;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.text-plan-characteristic-discription {
    color: #2B2B2B;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.line-divider-characterictic {
    display: flex;
    width: 93px;
    height: 1px;
    background: #DBDBDB;
    gap: 12px;
}
.text-characteristic-activ {   
    color: #2B2B2B;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.text-characteristic-passiv {
    color: #C7C5C5;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
.button-choose-plan {
    border-radius: 3px;
    background: #000;
    width: 186px;
    height: 42px;
}
.text-button-choose-plan {
    color: #FFF;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.button-pagination-back, .button-pagination-front {
    width: 50px;
    height: 50px;
}